---
log_level: INFO                              # Mögliche Parameter: DEBUG, INFO, WARNING, ERROR, CRITICAL

aqicn_key: 'e6e52e8fc683d9fcc03235abe9db9d8bc101230b'

#Backend-Konfiguration
backend:
  username: 'user'
  password: 'user'
  keycloak_url: 'https://keycloak.sensorguard.systems/auth/realms/Umweltrechner-keycloak/protocol/openid-connect/token'
  api_base_url: 'https://api.sensorguard.systems/api'
  api_ws_url: 'wss://api.sensorguard.systems/api/looping'
  send_response_path: '/app/'


#Allgemeine Informationen über die einzelnen Sensoren
sensor_details:
  heger_spezial_sensor:
    name: 'heger_spezial_sensor'
    unit: 'Takte'
    description: 'Sensor wechselt in einem gegebenen Intervall zwischen einem gegeben min und max wert'
  pm25:
    name: 'lungengängiger_feinstaub'
    unit: 'µg/m3'
    description: 'Sensor gibt Informationen über den lungengängigen Feinstaub'
  pm10:
    name: 'einatembarer_feinstaub'
    unit: 'µg/m3'
    description: 'Sensor gibt Informationen über den einatembaren Feinstaub'
  o3:
    name: 'ozon'
    unit: 'µg/m3'
    description: 'Sensor gibt Informationen über den Ozongehalt'
  no2:
    name: 'stickstoffdioxid'
    unit: 'µg/m3'
    description: 'Sensor gibt Informationen über den Stickstoffdioxidgehalt'
  so2:
    name: 'schwefeldioxid'
    unit: 'µg/m3'
    description: 'Sensor gibt Informationen über den Schwefeldioxidgehalt'
  co:
    name: 'kohlenmonoxid'
    unit: 'µg/m3'
    description: 'Sensor gibt Informationen über den Kohlenstoffmonoxidgehalt'
  t:
    name: 'temperatur'
    unit: '°C'
    description: 'Sensor gibt Informationen über die Temperatur'
  p:
    name: 'pressure_luftdruck'
    unit: 'hPa'
    description: 'Sensor gibt Informationen über den Luftdruck'
  h:
    name: 'humidity_Feuchtigkeit'
    unit: '%'
    description: 'Sensor gibt Informationen über die Luftfeuchtigkeit'
  w:
    name: 'wind'
    unit: 'mph'
    description: 'Sensor gibt Informationen über die Windstaerke'
  wg:
    name: 'wind_gust'
    unit: 'km/h'
    description: 'Höchste Windgeschwinigkeit am Tag'
  dew:
    name: 'dew_point'
    unit: '°C'
    description: 'Taupunkt Temperatur, auf die die Luft abgekühlt werden muss, um 100% Luftfeuchtigkeit zu erreichen'
  r:
    name: 'r_point'
    unit: '%'
    description: 'Kein Plan was r für ein wert sein soll'
  d:
    name: 'd_point'
    unit: '%'
    description: 'Kein Plan was d für ein wert sein soll'


#Active Sensoren
aktive_sensoren:
  configured_citys: True
  heger_spezial: True
  random_citys: True

#Konfiguration der Heger Spezial Funktion
heger_spezial: #Ein Wert wie _TT_TT
  id: HegerSpezial1
  sensor_art: heger_spezial_sensor
  city: imagination_island
  taktung: 5
  max_value: 1
  min_value: -1
#Konfiguration der zufälligen Städte mit ihren Sensoren
random_citys_sensors:
  taktung: 200
  anzahl_unterschiedlicher_citys: 1
  zeitlicher_abstand_zwischen_den_starts: 15
  lifetime_pro_city: 40

#Konfiguratione von Sensoren, bezogen auf eine Stadt
city_configuration:
  - Wiesbaden:
      - sensor: pm25                 # lungengängiger_feinstaub
        taktung: 1          # Wiederholungsrate in s
        seed: 0             # Zu Testzwecken es kann sein, dass der Wert über mehrere Stunden gleich bleibt. So wir ncoh ein Random wert in der Range vom seed dazuaddiert auf den echten Wert addiert, damit man Veränderungen sieht (seed = 0 -> kein seed)
      - sensor: pm10                 # einatembarer_feinstaub
        taktung: 1
        seed: 0
      - sensor: o3                   #ozon
        taktung: 2
        seed: 0
      - sensor: no2                  #stickstoffdioxid
        taktung: 3
        seed: 0
      - sensor: so2                  #schwefeldioxid
        taktung: 4
        seed: 0
      - sensor: co                   #kohlenmonoxid
        taktung: 5
        seed: 0
      - sensor: t                    #temperatur
        taktung: 6
        seed: 0
      - sensor: p                    #pressure Luftdruck
        taktung: 7
        seed: 0
      - sensor: h                    #humidity / Feuchtigkeit
        taktung: 8
        seed: 0
      - sensor: w                    #wind
        taktung: 9
        seed: 0
  - Berlin:
      - sensor: t                    #temperatur
        taktung: 1
        seed: 0
      - sensor: p                    #pressure Luftdruck
        taktung: 1
        seed: 0
      - sensor: h                    #humidity / Feuchtigkeit
        taktung: 1
        seed: 0
      - sensor: w                    #wind
        taktung: 1
        seed: 0

random_citys:
  - 'Berlin'
  - 'Hamburg'
  - 'Munich'
  - 'Cologne'
  - 'Frankfurt'
  - 'Bremen'
  - 'Düsseldorf'
  - 'Stuttgart'
  - 'Leipzig'
  - 'Dortmund'
  - 'Essen'
  - 'Dresden'
  - 'Hannover'
  - 'Nuremberg'
  - 'Duisburg'
  - 'Bochum'
  - 'Wuppertal'
  - 'Bielefeld'
  - 'Bonn'
  - 'Münster'
  - 'Karlsruhe'
  - 'Mannheim'
  - 'Augsburg'
  - 'Kassel'
  - 'Wiesbaden'
  - 'Mönchengladbach'
  - 'Gelsenkirchen'
  - 'Braunschweig'
  - 'Aachen'
  - 'Kiel'
  - 'Chemnitz'
  - 'Freiburg im Breisgau'
  - 'Krefeld'
  - 'Mainz'
  - 'Lübeck'
  - 'Oberhausen'
  - 'Hagen'
  - 'Potsdam'
  - 'Ludwigshafen'
  - 'Mülheim'
  - 'Oldenburg'
  - 'Osnabrück'
  - 'Leverkusen'
  - 'Heidelberg'
  - 'Solingen'
  - 'Darmstadt'
  - 'Herne'
  - 'Neuss'
  - 'Ingolstadt'
  - 'Würzburg'
  - 'Fürth'
  - 'Ulm'
  - 'Heilbronn'
  - 'Pforzheim'
  - 'Wolfsburg'
  - 'Göttingen'
  - 'Bottrop'
  - 'Reutlingen'
  - 'Koblenz'
  - 'Recklinghausen'
  - 'Trier'
  - 'Salzgitter'
  - 'Cottbus'
  - 'Kaiserslautern'
  - 'Hanau'
  - 'Gera'
  - 'Ludwigsburg'
  - 'Düren'
  - 'Tübingen'
  - 'Flensburg'
  - 'Zwickau'
  - 'Gießen'
  - 'Ratingen'
  - 'Lünen'
  - 'Villingen-Schwenningen'
  - 'Konstanz'
  - 'Worms'
  - 'Norderstedt'
  - 'Bamberg'
  - 'Marburg'
  - 'Gladbeck'
  - 'Troisdorf'
  - 'Bayreuth'
  - 'Castrop-Rauxel'
  - 'Lüdenscheid'
  - 'Landshut'
  - 'Brandenburg'
  - 'Celle'
  - 'Kempten'
  - 'Fulda'
  - 'Aalen'
  - 'Dinslaken'
  - 'Rüsselsheim'
  - 'Plauen'
  - 'Neuwied'
  - 'Herten'
  - 'Bergheim'
  - 'Friedrichshafen'
  - 'Wesel'
  - 'Hürth'
  - 'Neu-Ulm'
  - 'Unna'
  - 'Frankfurt (Oder)'
  - 'Görlitz'
  - 'Langenhagen'
  - 'Meerbusch'
  - 'Waiblingen'
  - 'Baden-Baden'
  - 'Hattingen'
  - 'Pulheim'
  - 'Schweinfurt'
  - 'Neustadt'
  - 'Wetzlar'
  - 'Frechen'
  - 'Passau'
  - 'Goslar'
  - 'Rastatt'
  - 'Lörrach'
  - 'Bergkamen'
  - 'Soest'
  - 'Schwerte'
  - 'Hof'
  - 'Filderstadt'
  - 'Fellbach'
  - 'Brühl'
  - 'Falkensee'
  - 'Kaarst'
  - 'Bietigheim-Bissingen'
  - 'Kamen'
  - 'Borken'
  - 'Nettetal'
  - 'Aurich'
  - 'Amberg'
  - 'Ansbach'
  - 'Laatzen'
  - 'Coburg'
  - 'Freiberg'
  - 'Schwabach'
  - 'Bensheim'
  - 'Schwäbisch Hall'
  - 'Pirmasens'
  - 'Eberswalde'
  - 'Leinfelden-Echterdingen'
  - 'Neumarkt'
  - 'Hofheim'
  - 'Freital'
  - 'Ettlingen'
  - 'Ostfildern'
  - 'Maintal'
  - 'Würselen'
  - 'Bautzen'
  - 'Niederkassel'
  - 'Neu Isenburg'
  - 'Königs Wusterhausen'
  - 'Wesseling'
  - 'Kehl'
  - 'Limburg'
  - 'Mörfelden-Walldorf'
  - 'Datteln'
  - 'Radebeul'
  - 'Bad Vilbel'
  - 'Kornwestheim'
  - 'Korschenbroich'
  - 'Biberach'
  - 'Lampertheim'
  - 'Altenburg'
  - 'Itzehoe'
  - 'Georgsmarienhütte'
  - 'Herrenberg'
  - 'Oer-Erkenschwick'
  - 'Neuruppin'
  - 'Haan'
  - 'Weil am Rhein'
  - 'Andernach'
  - 'Schwedt (Oder)'
  - 'Friedberg'
  - 'Waltrop'
  - 'Friedberg'
  - 'Landsberg'
  - 'Kelkheim (Taunus)'
  - 'Schwelm'
  - 'Königsbrunn'
  - 'Leichlingen'
  - 'Hattersheim'
  - 'Wetter (Ruhr)'
  - 'Griesheim'
  - 'Leimen'
  - 'Wiesloch'
  - 'Hamminkeln'
  - 'Neckarsulm'
  - 'Heiligenhaus'
  - 'Heppenheim'
  - 'Weiterstadt'
  - 'Kulmbach'
  - 'Teltow'
  - 'Zirndorf'
  - 'Lindau'
  - 'Zittau'
  - 'Pfungstadt'
  - 'Luckenwalde'
  - 'Greiz'
  - 'Holzminden'
  - 'Annaberg-Buchholz'
  - 'Weißenburg'
  - 'Cham'
  - 'Kelheim'
  - 'Neustadt'
  - 'Lüchow'
  - 'Neustadt'
  - 'Offenbach'
  - 'Frankenthal'
  - 'Verden'
  - 'Neustadt'